body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

.navbar {
  overflow: hidden;
  background-color: lightcoral;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: darkgray;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: lightblue;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: darkolivegreen;
}

.subnav:hover .subnav-content {
  display: block;
}

.info-section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.info-section h2, .info-section h4 {
    color: lightseagreen; /* Blue color for headings */
    margin-top: 0;
    margin-bottom: 16px;
}

.form-field {
    margin-bottom: 15px;
}

    .form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-field input[type="text"],
.form-field textarea {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-actions input[type="submit"],
.form-actions input[type="reset"]{
    background-color: #6ea9b5;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.geoButton {
    background-color: #6ea9b5;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.geoButton:hover{
    background-color: lightskyblue;
}

.form-actions input[type="submit"]:hover {
background-color: #45a049;
}

.form-actions input[type="reset"]:hover {
background-color: #f44336;
}

.content {
    padding: 20px;
}

.info-section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}